@charset "UTF-8";
/* Tested on Chrome Version 53.0.2785.143 (64-bit) and Firefox 48.0.2 */
/* Global Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Base Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* -- Descriptive color variables -- */
/* -- Functional color variables -- */
/* -- Font sizes -- */
/* -- Font family -- */
/* -- Font weight -- */
/* -- Font transform -- */
/* -- Media query breakpoints -- */
/* Mixins
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* -- Media queries -- */
/* -- Text -- */
/* Base Element Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  color: #004256;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, san-serif; }

h1, h2, h3, p {
  padding: 0;
  margin: 0; }

/* Base Layout Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 768px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff; } }
@media (min-width: 1024px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background: #fafafa; } }
/* Components Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.name a {
  font-size: 1.10em;
  text-align: center; }

.main-nav a {
  font-size: 0.95em;
  text-align: center;
  text-transform: uppercase; }

.hero-description {
  font-size: 0.95em;
  line-height: 1.5;
  font-weight: 200;
  text-align: center; }

.sub-header {
  font-size: 0.95em;
  text-align: center;
  text-transform: uppercase; }

.col h3 {
  color: #0080af;
  text-align: center; }

.col p {
  color: #777;
  line-height: 1.5;
  text-align: center; }

.contact-description, .contact-info {
  font-size: 0.95em;
  line-height: 1.5;
  font-weight: 200;
  color: #777;
  text-align: center; }

.contact-info b {
  color: #004256; }

.footer-name a {
  font-size: 0.75em; }

.footer-nav-mobile a {
  font-size: 0.75em;
  text-transform: uppercase; }

/* Layout Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Containers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  max-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      max-width: 768px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px; } }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-header {
  border: 1px solid #fafafa; }
  @media (min-width: 1024px) {
    .main-header {
      background: #00baef !important; } }

.name a {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #00baef; }
  @media (min-width: 1024px) {
    .name a {
      float: left;
      padding: 8.5px 20px; } }

.main-nav {
  display: none; }
  @media (min-width: 768px) {
    .main-nav {
      display: block !important; } }
  @media (min-width: 1024px) {
    .main-nav {
      float: right; } }

@media (min-width: 768px) {
  .main-nav ul {
    text-align: center; }

  .main-nav li {
    display: inline-block; } }
.main-nav a {
  padding: 10px;
  margin: 10px;
  background: #fff; }
  @media (min-width: 768px) {
    .main-nav a {
      background: #fafafa; } }
  @media (min-width: 1024px) {
    .main-nav a {
      background: #00baef; } }

/* Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu {
  position: relative;
  width: 20px;
  margin-left: 20px;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .menu {
      display: none !important; } }

.menu img {
  height: 20px;
  width: 20px; }

/* Sub-Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sub-header {
  padding: 40px 40px; }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-footer {
  max-width: 300px;
  border-top: 1px solid #004256;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .main-footer {
      padding-bottom: 80px;
      max-width: 728px; } }
  @media (min-width: 1024px) {
    .main-footer {
      padding-bottom: 0;
      max-width: 984px; } }

.footer-name a {
  float: left; }

.footer-nav-mobile a {
  float: right; }

.footer-nav {
  display: none; }
  @media (min-width: 768px) {
    .footer-nav {
      float: right;
      display: block;
      padding: 20px 10px; } }

@media (min-width: 768px) {
  .footer-nav-mobile {
    display: none; }

  .footer-nav li {
    display: inline-block; }

  .footer-nav a {
    padding: 0 10px;
    font-size: 0.75em;
    text-transform: uppercase; } }
/* Extends
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* -- Display -- */
.name a, .main-nav a, .menu, .sub-header {
  display: block; }

/* -- Background Color -- */
.container, .main-header, .main-footer {
  background: #fafafa; }

/* -- Footer Spacing -- */
.footer-name a, .footer-nav-mobile a {
  padding: 20px 10px; }

/* Section Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background: #fafafa; }
  .hero-image {
    width: 280px;
    padding: 20px 20px 20px; }
    @media (min-width: 768px) {
      .hero-image {
        float: right;
        width: 40%;
        padding: 40px 20px; } }
    @media (min-width: 1024px) {
      .hero-image {
        width: 45%; } }
  .hero-description {
    padding: 20px 20px 40px; }
    @media (min-width: 768px) {
      .hero-description {
        padding: 40px 20px;
        font-size: 1.3em;
        font-weight: 200;
        text-align: left; } }

/* Portfolio
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.portfolio {
  background: #fff; }
  .portfolio-image {
    padding: 10px 10px;
    max-width: 300px; }
    @media (min-width: 768px) {
      .portfolio-image {
        max-width: 354px; } }
    @media (min-width: 1024px) {
      .portfolio-image {
        max-width: 308px; } }

@media (min-width: 768px) {
  .col {
    float: left; }

  .col {
    max-width: 374px; } }
@media (min-width: 1024px) {
  .col {
    float: left; }

  .col {
    max-width: 328px; } }
.col h3, .col p {
  padding: 10px; }
  @media (min-width: 768px) {
    .col h3, .col p {
      max-width: 374px; } }
  @media (min-width: 1024px) {
    .col h3, .col p {
      max-width: 328px; } }

/* Skills
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.skills {
  background: #fff; }
  .skills-image {
    padding: 10px 10px;
    max-width: 300px; }
    @media (min-width: 768px) {
      .skills-image {
        max-width: 354px; } }
    @media (min-width: 1024px) {
      .skills-image {
        max-width: 308px; } }

/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  background: #fafafa; }
  .contact-description, .contact-info {
    padding: 10px 10px 20px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .contact-description, .contact-info {
        max-width: 60%; } }
    @media (min-width: 1024px) {
      .contact-description, .contact-info {
        max-width: 40%; } }
  .contact-info {
    padding: 20px 10px; }
  .contact-spacing {
    padding-bottom: 40px; }

/*# sourceMappingURL=app.css.map */
