/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-footer {
  max-width: 300px;
  border-top: 1px solid $color-secondary;
  margin: 0 auto;
  @extend %background; 

  @include tablet {
    padding-bottom: 80px;
    max-width: 728px;
  }

  @include desktop {
    padding-bottom: 0;
    max-width: 984px;
  }
}

.footer-name a {
  float: left;
  @extend %footerspace; }

.footer-nav-mobile a {
  float: right;
  @extend %footerspace; }

.footer-nav {
  display: none; 

  @include tablet {
    float: right;
    display: block; 
    padding: 20px 10px;
  }
}

@include tablet {
  .footer-nav-mobile {
    display: none; }

  .footer-nav li {
    display: inline-block; }

  .footer-nav a {
    padding: 0 10px;
    font-size: $small-size ;
    text-transform: $font-case; }
}