/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-header {
  border: 1px solid $color-background;
  @extend %background;

  @include desktop {
    background: $color-primary !important; 
  }
}

.name a {
  @extend %userview;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $color-primary; 

  @include desktop {
    float: left;
    padding: 8.5px 20px;
  }
}

.main-nav {
  display: none; 

  @include tablet {
    display: block !important;
  }

  @include desktop {
    float: right;
  }
}

@include tablet {
  .main-nav ul {
    text-align: center; }

  .main-nav li {
    display: inline-block; }
}

.main-nav a {
  @extend %userview;
  padding: 10px;
  margin: 10px;
  background: #fff; 

  @include tablet {
    background: $color-background;
  }

  @include desktop {
    background: $color-primary;
  }
}