/* Base Element Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
  color: $color-secondary;
  text-decoration: none;
  font-family: $stack-helvetica; }

h1, h2, h3, p {
  padding: 0;
  margin: 0; }

/* Base Layout Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

@include tablet {
	.wrapper {
  padding-left: 10px;
  padding-right: 10px; 
  background: #fff; }
}

@include desktop {
  .wrapper {
  padding-left: 20px;
  padding-right: 20px; 
  background: $color-background; }
}
