/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* -- Descriptive color variables -- */

$cerulean         : #00baef;
$sherpablue       : #004256;
$alabaster        : #fafafa;
$boulder          : #777;

/* -- Functional color variables -- */

$color-primary    : $cerulean;
$color-secondary  : $sherpablue;
$color-background : $alabaster;
$color-text       : $boulder;

/* -- Font sizes -- */

$small-size       : 0.75em;
$regular-size     : 0.95em;

/* -- Font family -- */

$stack-sans-serif : Helvetica, Arial, san-serif;
$stack-helvetica  : 'Helvetica Neue', $stack-sans-serif;

/* -- Font weight -- */

$regular-weight   : 200;

/* -- Font transform -- */

$font-case        : uppercase;

/* -- Media query breakpoints -- */

$break-tablet     : '(min-width: 768px)';
$break-desktop    : '(min-width: 1024px)';